.ListOfBooks {
    display:flex;
    flex-direction: column;
    gap: var(--gap);
}

.ListOfBooks .Book{
    min-height: 40px;
    justify-content: center;
    align-items:center;
    border: thin solid var(--newCommunityTheme-postLine);
    margin-bottom: -1px;
    border-radius: 4px;
}