.Search{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 auto;
    background-color: var(--brand-color_5);
    img{
        filter: invert(1);
    }
}
