.gf-header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 1rem;
    background-color: var(--brand-color_5);
    margin-bottom: 30px;
    position: sticky;
    top: 0px;
    img {
      filter: invert(1);
    }
  }
  
  .gf-header section {
    color: var(--theme-body-dark-txt);
  }
  .gf-header section:first-of-type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    h1 {
      display: inline;
      margin-right: 8px;
    }
}

.synchronize {
    padding: .5rem 1rem;
    font-size: 1rem;
    display: flex;
    color: black;
    align-items: center;
    span {
        padding-right: 1rem
    }
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media screen and (max-width: 37rem) {
  .synchronize {
    span {
      display: none;
    }
  }
}
