.gf-header {
    display: flex;
    flex-direction: row-reverse;
    align-content: space-between;
    flex-flow: row-reverse;
    padding: 1rem;
    background-color: var(--brand-color_5);
    margin-bottom: 30px;
}

.gf-header section {
    margin-right: auto;
    color:black;
}

.children {
    display: flex;
    align-items: baseline;
}

.children h1 {
    margin-right: 5px;
}
