.BookDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--brand-color_5);
    color: var(--theme-body-dark-txt);
    padding: 1rem;
    border-radius: 4px;
}

.BookDetails header {
    display: flex;
    align-items: center;
}

.BookDetails header span {
    margin-left: auto;
}

.BookDetails-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.Book-footer {
    align-self: flex-start;
}

.Book-footer button{
    background-color: transparent;
}
