.Photo{
    display: flex;
    flex-direction: column;

    figure:has(img), div:has(video), div:has(canvas) {
        margin: var(--gap);
    }

    img,video, canvas {
        height: inherit;
        width: 100%;
    }
}

.Photo label{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.Photo label input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;
}

.Photo > div:has(video) {
    background-color: var(--newCommunityTheme-postLine);
}
.Photo > figure:has(img) {
    background-color: var(--newCommunityTheme-postLine);
}

.canvas {
    display: none;
}

.Photo-buttons {
    display: flex;
    gap: var(--gap);
    justify-content: space-between;
}