.App {
  text-align: center;
}

.App-logo {
  margin: 10px auto;
  padding: 20px 0;
  width: 144px;
}

.App-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 16px;
}

.btn {
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  background-color: var(--brand-color_4);
  color: var(--theme-body-txt);
}

.Book-btn {
  background: transparent;
  border: none;
}

.Book-btn:hover{
  cursor: pointer;
}

.fade-in {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: var(--mobile)) {
  .App {
    font-size: var(--large-fz);
  }
}
