/* Opción 1
006ba6
0496ff
ffbc42
d81159
8f2d56

Opción 2
264653
2a9d8f
e9c46a
f4a261
e76f51 */


:root {
  --fz: 13px;
  --large-fz: 16px;
  --min-width: 55rem;
  --theme-body-bg: #DAE0E6;
  --theme-body-txt: #f3f3f3;
  --theme-body-dark-txt: #000000;
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: #8f2d56;
  --brand-color_2: #d81159;
  --brand-color_3: #ffbc42;
  --brand-color_4: #0496ff;
  --brand-color_5: #FFFFFF;
  --newCommunityTheme-postLine: #ccc;
  --mobile: 37rem;
  --gap: 0.125rem;
}
html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
