:root {
  --fz: 13px;
  --large-fz: 16px;
  --min-width: 55rem;
  --theme-body-bg: hsl(210, 19%, 88%);
  --theme-body-txt: hsl(0, 0%, 95%);
  --theme-body-dark-txt: hsl(0, 0%, 0%);
  --search-size-mx-h: 3rem;
  --zIndex-header: 20;
  --zIndex-component: 5;
  --brand-color_1: hsl(335, 52%, 37%);
  --brand-color_2: hsl(338, 85%, 46%);
  --brand-color_3: hsl(39, 100%, 63%);
  --brand-color_5: hsl(205, 100%, 51%);
  --brand-color_6: hsl(0, 0%, 100%);
  --brand-color_7: hsl(206, 90%, 86%);
  --newCommunityTheme-postLine: hsl(0, 0%, 80%);
  --mobile: 37rem;
  --gap: 0.125rem;
}
html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
