.Book{
    display: flex;
    background-color: var(--brand-color_5);
}

.Book-link {
    color: #000;
    display: block;
    text-decoration: none;
    position: relative;
    width: 100%;
  }

.Book-link span:first-of-type {
    font-weight: bold;
    margin-right: 10px;
}

.Book-link span:last-of-type {
    font-weight: lighter;
}