.Book{
    display: flex;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--brand-color_6);
}

.Book .Book-btn {
    margin-left: auto;
}

.Book-link {
    color: var(--theme-body-dark-txt);
    display: flex;
    flex-direction: column;
    text-decoration: none;
    align-items: flex-start;
}

.Book-link span:first-of-type {
    flex-direction: column;
    font-weight: bold;
    margin-right: 10px;
}

.Book-link span:last-of-type {
    font-weight: lighter;
}

@media screen and (min-width: 55rem) {
    .Book-link {
        flex-direction: row;
    }
}